<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="scrollspyabout" style="background-color: #151925;">
        <div class="about-section container mx-auto text-light text-center p-3">
            <h1 class="fw-bold mb-5" style="color: #03b0fd;">About Me</h1>
            <p style="font-size: 20px;">Hello! I'm Adit Shah, a budding Full Stack Developer. I am diving into front-end and back-end technologies. <br> I have hands on experience on many mini projects which are made in html,css,javvascript, bootstrap5. <br> Excited to connect and collaborate on innovative projects!
            </p>
        </div>
    </div>
</body>
</html>