<div style="background-color: black" id="scrollspycontact">
  <div class="container mx-auto footer-section">
    <h2
      class="text-center fs-bold"
      style="color: #03b0fd; padding: 20px; margin-bottom: 0"
    >
      Contact Me
    </h2>
    <div class="phone text-light d-flex align-items-center justify-content-center">
      <i class="fa-solid fa-phone mb-3"></i>
      <p class="ms-2">: 9265955849</p>
    </div>

    <div class="email text-light d-flex align-items-center justify-content-center">
        <i class="fa-regular fa-envelope mb-3"></i>
        <p class="ms-2">: adit.s@inheritx.com</p>
    </div>
  </div>
</div>
