<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <nav id="navbar-example2" class="navbar navbar-expand-lg" style="background-color: #151925;">
    <div class="container mx-auto">
      <!-- Left side: Portfolio -->
      <a class="navbar-brand" href="#"><h2 class="text-light fw-bold" style="font-size: 45px;">Portfolio</h2></a>
      
      <!-- Right side: Navigation links -->
      <button
        class="navbar-toggler bg-light"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav d-flex justify-content-evenly w-100 ">
          <a class="nav-link" aria-current="page" href="#scrollspyhome" >Home</a>
          <a class="nav-link" href="#scrollspyabout">About Me</a>
          <a class="nav-link" href="#scrollspyskills">Skills</a>
          <a class="nav-link" href="#scrollspyprojects">Projects</a>
          <a class="nav-link" href="#scrollspycontact">Contact Me</a>
        </div>
      </div>
    </div>
  </nav>
  
</body>
</html>